# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage/

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/dev/

# Husky
.husky/_/